@tailwind base;
@tailwind components;
@tailwind utilities;

body, .content {
    font-family: monospace;
}

input {
    background-color: #1d1f29 !important;
    border-color: #1d1f29 !important;
    transition: .3s !important;
    border-radius: 10px !important;
    color: white; 
}

input:focus {
    border-width: 1px !important;
    border-color: #e91e63ed !important;
    box-shadow: 0 0 #e91e63 !important;
}